# flyctl launch added from .gitignore
**\.qodo

# flyctl launch added from Galeria_Fotos_Casamento\.gitignore
Galeria_Fotos_Casamento\**\.qodo

# flyctl launch added from venv\.gitignore
# Created by venv; see https://docs.python.org/3/library/venv.html
venv\**\*
fly.toml
